<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mini-MVVM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94E5E8A51F160D4C003EA092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94E5E8BC1F160D4C003EA092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94E5E8C71F160D4C003EA092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
